In [199]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import LabelEncoder
import pickle
from imblearn.over_sampling import SMOTE

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import difflib

In [4]:
df= pd.read_csv(r"C:\Users\DELL\Desktop\Uday\Machine Learning\Recommendation system\movies (1).csv")

In [14]:
df.head(3)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [8]:
df.isnull().sum()

index                      0
budget                     0
genres                    27
homepage                3083
id                         0
keywords                 408
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  840
title                      0
vote_average               0
vote_count                 0
cast                      42
crew                       0
director                  36
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4792 entries, 0 to 4791
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4792 non-null   int64
 1   budget                4792 non-null   int64
 2   genres                4765 non-null   object
 3   homepage              1709 non-null   object
 4   id                    4792 non-null   int64
 5   keywords              4384 non-null   object
 6   original_language     4792 non-null   object
 7   original_title        4792 non-null   object
 8   overview              4789 non-null   object
 9   popularity            4792 non-null   float64
 10  production_companies  4792 non-null   object
 11  production_countries  4792 non-null   object
 12  release_date          4791 non-null   object
 13  revenue               4792 non-null   int64
 14  runtime               4790 non-null   float64
 15  spoken_languages      4792 non-null   object
 16  status                4792 non-null   object
 17  tagline               3952 non-null   object
 18  title                 4792 non-null   object
 19  vote_average          4792 non-null   float64
 20  vote_count            4792 non-null   int64
 21  cast                  4750 non-null   object
 22  crew                  4792 non-null   object
 23  director              4756 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 898.6+ KB

In [16]:
df.drop('homepage',axis=1, inplace=True)

In [18]:
df.head(1)

,index,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron

In [24]:
df.shape

(4792, 23)

In [36]:
df.isnull().sum()

index                     0
budget                    0
genres                   27
id                        0
keywords                408
original_language         0
original_title            0
overview                  3
popularity                0
production_companies      0
production_countries      0
release_date              1
revenue                   0
runtime                   2
spoken_languages          0
status                    0
tagline                 840
title                     0
vote_average              0
vote_count                0
cast                     42
crew                      0
director                 36
dtype: int64

In [45]:
print(df.columns)

Index(['index', 'budget', 'genres', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [71]:
df = df.dropna(subset=['director', 'genres', 'cast', 'keywords', 'tagline'])

In [73]:
df.drop('index',axis=1, inplace=True)

In [75]:
df.isnull().sum()

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
cast                    0
crew                    0
director                0
dtype: int64

In [77]:
df.shape

(3746, 22)

In [79]:
df[df.duplicated()]

Empty DataFrame
Columns: [budget, genres, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, cast, crew, director]
Index: []

[0 rows x 22 columns]

In [239]:
df.head(3)

,genres,keywords,tagline,cast,director,merged_col
0,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,Enter the World of Pandora.,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron,Action Adventure Fantasy Science Fiction-cultu...
1,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,"At the end of the world, the adventure begins.",Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski,Adventure Fantasy Action-ocean drug abuse exot...
2,Action Adventure Crime,spy based on novel secret agent sequel mi6,A Plan No One Escapes,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes,Action Adventure Crime-spy based on novel secr...

In [87]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3746 entries, 0 to 4791
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3746 non-null   int64
 1   genres                3746 non-null   object
 2   id                    3746 non-null   int64
 3   keywords              3746 non-null   object
 4   original_language     3746 non-null   object
 5   original_title        3746 non-null   object
 6   overview              3746 non-null   object
 7   popularity            3746 non-null   float64
 8   production_companies  3746 non-null   object
 9   production_countries  3746 non-null   object
 10  release_date          3746 non-null   datetime64[ns]
 11  revenue               3746 non-null   int64
 12  runtime               3746 non-null   float64
 13  spoken_languages      3746 non-null   object
 14  status                3746 non-null   object
 15  tagline               3746 non-null   object
 16  title                 3746 non-null   object
 17  vote_average          3746 non-null   float64
 18  vote_count            3746 non-null   int64
 19  cast                  3746 non-null   object
 20  crew                  3746 non-null   object
 21  director              3746 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(4), object(14)
memory usage: 673.1+ KB

In [99]:
df['original_language'].unique() # make categorical

array(['en', 'ja', 'fr', 'zh', 'ko', 'de', 'es', 'it', 'ru', 'cn', 'nl',
       'sv', 'th', 'da', 'hu', 'cs', 'pt', 'hi', 'tr', 'nb', 'af', 'ar',
       'ta', 'id', 'ro', 'fa', 'no', 'ps', 'el'], dtype=object)

In [101]:
df['status'].unique() # make categorical

array(['Released', 'Post Production', 'Rumored'], dtype=object)

In [107]:
df.columns

Index(['budget', 'genres', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [183]:
columns_to_drop =['budget', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'title', 'vote_average',
       'vote_count','crew']
df = df.drop(columns=columns_to_drop, axis=1)

KeyError: "['budget', 'id', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'title', 'vote_average', 'vote_count', 'crew'] not found in axis"

In [181]:
df1.head(2)

NameError: name 'df1' is not defined

In [137]:
df.shape

(3746, 5)

In [ ]:
# combineing these cols df['merged_col_concat'] = df['col1'] + '-' + df['col2'].astype(str) + '-' + df['col3']

In [139]:
df['merged_col'] = df['genres'] + '-' + df['keywords'] + '-' + df['tagline'] + '-' + df['cast'] + '-' + df['director']

In [149]:
merged_col = df['genres'] + '-' + df['keywords'] + '-' + df['tagline'] + '-' + df['cast'] + '-' + df['director']

In [155]:
df['merged_col']

0       Action Adventure Fantasy Science Fiction-cultu...
1       Adventure Fantasy Action-ocean drug abuse exot...
2       Action Adventure Crime-spy based on novel secr...
3       Action Crime Drama Thriller-dc comics crime fi...
4       Action Adventure Science Fiction-based on nove...
                              ...
4783    Thriller Horror-possession-nederlands-Stephen ...
4787    Science Fiction Thriller-superhero-May The Bes...
4788    Horror Comedy Crime-gay trailer park pop cultu...
4789    Drama-addiction recovering drug addict estrang...
4791    Horror-home invasion-Everything You've Heard i...
Name: merged_col, Length: 3746, dtype: object

In [163]:
vectorizer = TfidfVectorizer()
feature_vector = vectorizer.fit_transform(merged_col)
print(feature_vector)

  (0, 184)	0.0773827640138315
  (0, 244)	0.0876719985667802
  (0, 4519)	0.10875965257589007
  (0, 11567)	0.10182199345041251
  (0, 4660)	0.10182199345041251
  (0, 3143)	0.218283605891842
  (0, 2597)	0.2233898783841295
  (0, 5004)	0.16224649539169814
  (0, 12247)	0.33692147494961255
  (0, 14131)	0.12629349162604603
  (0, 2738)	0.25238995763397404
  (0, 12155)	0.21386035146455357
  (0, 4226)	0.2368209922166161
  (0, 13010)	0.06623705302376202
  (0, 14508)	0.1260003463275185
  (0, 9506)	0.0873069788671734
  (0, 9777)	0.2693111598882546
  (0, 11355)	0.14969877264542517
  (0, 14517)	0.23291940530370545
  (0, 14737)	0.20816777689582325
  (0, 11328)	0.22073844747990254
  (0, 11969)	0.20183903348008134
  (0, 14205)	0.19532296513977945
  (0, 12448)	0.1528261125660821
  (0, 7448)	0.2368209922166161
  :	:
  (3744, 4308)	0.24235288546503028
  (3744, 10747)	0.25443953346603787
  (3744, 13540)	0.25443953346603787
  (3744, 3217)	0.25443953346603787
  (3744, 1016)	0.25443953346603787
  (3745, 8692)	0.11544526875492536
  (3745, 4180)	0.18975610321375674
  (3745, 6546)	0.10614134064480993
  (3745, 14630)	0.11163334700754424
  (3745, 9880)	0.16591180200076755
  (3745, 6122)	0.19704890829668983
  (3745, 6169)	0.11336800894364918
  (3745, 6500)	0.2247467185458342
  (3745, 13385)	0.17351064807398567
  (3745, 4351)	0.18258363649518025
  (3745, 3783)	0.24217543672173458
  (3745, 13892)	0.20132939737926328
  (3745, 6579)	0.24824654179739353
  (3745, 5845)	0.2247467185458342
  (3745, 10782)	0.26467265424122677
  (3745, 4131)	0.2598198359629001
  (3745, 9828)	0.31020075750170784
  (3745, 7313)	0.31020075750170784
  (3745, 12858)	0.31020075750170784
  (3745, 7026)	0.31020075750170784

In [ ]:
# finding similarity

In [167]:
similarity= cosine_similarity(feature_vector)
print(similarity)

[[1.         0.0679902  0.03718691 ... 0.04297779 0.         0.        ]
 [0.0679902  1.         0.0313329  ... 0.0201962  0.02014938 0.        ]
 [0.03718691 0.0313329  1.         ... 0.00803719 0.         0.        ]
 ...
 [0.04297779 0.0201962  0.00803719 ... 1.         0.02070931 0.01056649]
 [0.         0.02014938 0.         ... 0.02070931 1.         0.02044371]
 [0.         0.         0.         ... 0.01056649 0.02044371 1.        ]]

In [169]:
similarity.shape

(3746, 3746)

In [171]:
Movie_name=input('Enter movie name')

Enter movie name iron man

In [257]:
list_of_all_titles=df2['title'].tolist()

In [185]:
df2= pd.read_csv(r"C:\Users\DELL\Desktop\Uday\Machine Learning\Recommendation system\movies (1).csv")

In [243]:
find_close_match=difflib.get_close_matches(Movie_name,list_of_all_titles)
print(find_close_match)

['Iron Man', 'Iron Man 3', 'Iron Man 2']

In [245]:
close_match=find_close_match[0]
print(close_match)

Iron Man

In [249]:
# fiding the index of movie with the title

In [251]:
index_of_the_movie = df2[df2.title ==close_match]['index'].values[0]
print(index_of_the_movie)

68

In [253]:
# getting a list of similar movies 
similarity_score = list(enumerate(similarity[index_of_the_movie]))

In [233]:
# sorting the movies based on their similarity score
sorted_similar_movies = sorted(similarity_score, key =lambda x:x[1], reverse =True)

In [ ]:
# print the name of similar movies based on the index

In [235]:
print("Movies suggested for you: \n")

i = 1

for movie in sorted_similar_movies:
    index = movie[0]
    title_from_index = df2[df2['index'] == index]['title'].values[0]
    
    if i < 10:
        print(i, '.', title_from_index)
        i += 1

Movies suggested for you:

1 . Iron Man
2 . Cat People
3 . Into the Blue
4 . Clear and Present Danger
5 . The Iron Giant
6 . Yentl
7 . Hide and Seek
8 . The Postman
9 . Knocked Up

In [265]:
Movie_name=input('Enter movie name')

list_of_all_titles=df2['title'].tolist()

find_close_match=difflib.get_close_matches(Movie_name,list_of_all_titles)

close_match=find_close_match[0]

index_of_the_movie = df2[df2.title ==close_match]['index'].values[0]

similarity_score = list(enumerate(similarity[index_of_the_movie]))

sorted_similar_movies = sorted(similarity_score, key =lambda x:x[1], reverse =True)


print("Movies suggested for you: \n")

i = 1

for movie in sorted_similar_movies:
    index = movie[0]
    title_from_index = df2[df2['index'] == index]['title'].values[0]
    
    if i < 10:
        print(i, '.', title_from_index)
        i += 1

Enter movie name avatar

Movies suggested for you:

1 . Avatar
2 . Alien
3 . Aliens
4 . Guardians of the Galaxy
5 . Star Trek Beyond
6 . Star Trek Into Darkness
7 . Galaxy Quest
8 . Alien³
9 . Cargo

In [267]:
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load your data
try:
    df2 = pd.read_csv(r"C:\Users\DELL\Desktop\Uday\Machine Learning\Recommendation system\movies (1).csv")
except FileNotFoundError:
    print("🚫 File not found. Please check the file path.")
    exit()

# Check for required columns
if 'title' not in df2.columns or 'index' not in df2.columns:
    print("❗ 'title' or 'index' column is missing in the CSV.")
    exit()

# Ask user for a movie name
Movie_name = input("🎥 Enter a movie name you like: ").strip()

# Get all movie titles
list_of_all_titles = df2['title'].tolist()

# Find closest matching title
find_close_match = difflib.get_close_matches(Movie_name, list_of_all_titles)

if not find_close_match:
    print("🤷‍♂️ Oops! We couldn't find a close match for that movie. Try again!")
    exit()

close_match = find_close_match[0]
print(f"✅ Closest match found: *{close_match}*")

# Get index of the matched movie
try:
    index_of_the_movie = df2[df2.title == close_match]['index'].values[0]
except IndexError:
    print("❗ Error getting index. Check if 'index' column is properly assigned.")
    exit()

# Combine selected features (example — modify as needed)
selected_features = ['genres', 'keywords', 'tagline', 'cast', 'director']
for feature in selected_features:
    df2[feature] = df2[feature].fillna('')  # fill missing data

df2['combined_features'] = df2[selected_features].agg(' '.join, axis=1)

# TF-IDF vectorization
vectorizer = TfidfVectorizer()
feature_vectors = vectorizer.fit_transform(df2['combined_features'])

# Compute similarity matrix
similarity = cosine_similarity(feature_vectors)

# Get similarity scores for the input movie
similarity_score = list(enumerate(similarity[index_of_the_movie]))

# Sort movies by similarity score
sorted_similar_movies = sorted(similarity_score, key=lambda x: x[1], reverse=True)

# Recommend top 10 movies
print("\n🍿 Movies recommended for you:\n")

i = 1
for movie in sorted_similar_movies[1:11]:  # skip the first one (it's the same movie)
    index = movie[0]
    title_from_index = df2[df2['index'] == index]['title'].values[0]
    print(f"{i}. 🎬 {title_from_index}")
    i += 1

print("\n✅ Enjoy your watchlist!")

🎥 Enter a movie name you like:  AVatar

✅ Closest match found: *Avatar*

🍿 Movies recommended for you:

1. 🎬 Alien
2. 🎬 Aliens
3. 🎬 Guardians of the Galaxy
4. 🎬 Star Trek Beyond
5. 🎬 Star Trek Into Darkness
6. 🎬 Galaxy Quest
7. 🎬 Alien³
8. 🎬 Cargo
9. 🎬 Trekkies
10. 🎬 Gravity

✅ Enjoy your watchlist!